*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #333;
  margin: 0;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color:#006699;
   padding: 3rem;
   border: 2px solid black;
   border-radius: 1rem;
}
form{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 3rem;
}
.title{
    margin: 0;
    text-align: center;
}
label{
    font-weight: bold;
}
.character-amount-container{
    display: flex;
    align-items: center;
}
#numberInput{
    width: 2rem;
}
.passwordDisplay{
    background: white;
    color: black;
    padding: 1rem;
    border: 1px solid #333;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 0.5rem;
    margin: 9px 0;
}
#btn{
   grid-column: span 2;
   background: transparent;
   border: 2px solid white;
   color: white;
   padding: .5rem 1rem;
   font-weight: bold;
   cursor: pointer;
   border-radius: 1rem;
}
#btn:hover{
    background: #ffffff33;
}